<h2>Album <%= @album.title %></h2>
<div>
  <p><b>Rating:</b> <%= @album.rating %></p>
  <% if @album.cover.attached? %>
    <%= image_tag @album.cover.variant(resize: "300x300") %>
  <% end %>
</div>
<%= link_to 'Back', admin_albums_path %>
